body{
    margin: 0;
    padding: 0;
}
.title{
    color: green;
    text-align: center;
}
.parent{
    display: flex;
    border: 1px solid gray;
    width: 80%;
    margin: 0 auto;
}
.photo img{
    width: 250px;
}
.details-btn{
    padding: 15px 50px;
    border: none;
    border-radius: 5px;
   /* background-image: linear-gradient(45deg,green,red,green); */
   background-color: red;
}
.details-btn:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
.second-section{
    text-align: center;
    margin-top: 50px;
}
.dhaka{
    width: 250px;
    border: 1px solid gray;
    box-shadow: 4px 4px 12px gray;
    border-radius: 5px;
}
.div-img img{
    width: 100%;
}
.all-divisions{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.bottom-section{
    padding: 15px;
}
.bottom-section p{
    text-align: center;
    text-align: justify;
}
.details{
    background-color: red;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: .8s;
}
.details:hover{
    background-color: blue;
    color: white;
    cursor: pointer;
}
footer{
    text-align: center;
    padding-bottom: 20px;
}